.page {
  min-width: 320px;
  max-width: 1109px;
  margin: 0 auto;
  font-family: 'Roboto', Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
