.page__header {
  margin: 42px auto 0;
  width: calc(100% - (60px*2));
}

@media screen and (max-width: 767px) {
  .page__header {
    margin-top: 30px;
    width: calc(100% - (30px*2));
  }
}

@media screen and (max-width: 424px) {
  .page__header {
    margin-top: 20px;
    width: calc(100% - (10px*2));
  }
}
