.video__play-icon {
  margin: auto;
  cursor: pointer;
  width: 65px;
  opacity: .4;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.video__play-icon:hover {
  opacity: .6;
}

@media screen and (max-width: 575px) {
  .video__play-icon {
    width: 55px;
  }
}
