.video__cover {
  width: 100%;
  min-height: 540px;
  background: url('../../../images/video.jpg') center center/cover no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 767px) {
  .video__cover {
    min-height: 420px;
  }
}

@media screen and (max-width: 575px) {
  .video__cover {
    min-height: 300px;
  }
}
