.page__people {
  margin: 114px auto 0;
  width: calc(100% - (60px*2));
}

@media screen and (max-width: 991px) {
  .page__people {
    margin-top: 70px;
    width: calc(100% - (40px*2));
  }
}

@media screen and (max-width: 575px) {
  .page__people {
    margin-top: 50px;
    width: calc(100% - (20px*2));
  }
}
