.header__link {
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.015em;
  color: black;
  text-decoration: none;
  transition: .2s linear;
}

.header__link:hover {
  opacity: .8;
}
