.intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 575px) {
  .intro {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
