.journey__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 599px) {
  .journey__image {
    max-height: 400px;
  }
}

@media screen and (max-width: 425px) {
  .journey__image {
    max-height: 290px;
  }
}
