.header__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* @media screen and (max-width: 424px) {
  .header__list {
    margin-bottom: 15px;
  }
} */
