.video__wrap {
  display: none;
  margin: 0;
  padding: 0;
  height: 540px;
}

@media screen and (max-width: 767px) {
  .video__wrap {
    height: 420px;
  }
}

@media screen and (max-width: 575px) {
  .video__wrap {
    height: 300px;
  }
}
