.intro__img {
  margin-left: 26px;
  width: 308px;
  height: 308px;
  -ms-grid-column-align: center;
      justify-self: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

@media screen and (max-width: 767px) {
  .intro__img {
    margin-left: 15px;
    width: 280px;
    height: 240px;
    -o-object-position: center top;
       object-position: center top;
  }
}

@media screen and (max-width: 575px) {
  .intro__img {
    display: none;
  }
}
