.intro__img {
  margin-left: 26px;
  width: 308px;
  height: 308px;
  justify-self: center;
  object-fit: cover;
  object-position: center center;
}

@media screen and (max-width: 767px) {
  .intro__img {
    margin-left: 15px;
    width: 280px;
    height: 240px;
    object-position: center top;
  }
}

@media screen and (max-width: 575px) {
  .intro__img {
    display: none;
  }
}
