.journey__form-wrap {
  margin-top: 21%;
  margin-left: 11%;
  max-width: 306px;
  max-height: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .journey__form-wrap {
    margin: 12% 8%;
  }
}

@media screen and (max-width: 767px) {
  .journey__form-wrap {
    margin: 6%;
  }
}

@media screen and (max-width: 599px) {
  .journey__form-wrap {
    margin: 6% auto;
  }
}
